$shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
$bg: rgba(33,33,33,.5);
$txt: #fff;
$arrow: lighten($color: $bg, $amount: 10%);
$rangeCol: #222;


@mixin df($dir,$wrap, $xPos: center ,$yPos: center){
  display: flex;
  align-items: $yPos;
  justify-content: $xPos;
  flex-flow: $dir $wrap;
}

@mixin classicHover($color){
  transition: .5s;
  &:hover{
    background-color: darken($color,30%);
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include df(column,wrap);
    background: $bg;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.camera {
  width: 40%;
  height: 100vh;
  background-color: darken($bg,50%);
  @include df(row,wrap);
  box-shadow: $shadow;
}
.controls{
  @include df(row, wrap, center, space-around);
  align-items: baseline;
  align-content: center;
  width: 40%;
  height: 100vh;
  .row {
    margin: 0; padding: 0;
    @include df(row, wrap);
    width: 100%;
    height: auto;

    .arrow {
        cursor: pointer;
        @include df(row, wrap);
        padding: 1rem; margin: 1rem;
        width: 100px;
        height: 100px;
        color: $txt;
        border-radius: 50%;
        background: $arrow;
        box-shadow: $shadow;
        font-size: 3rem;
        &:hover {
            @include classicHover($arrow);
        }
    }
}
}

.range {
  display: flex;
  width: 600px;
  margin: 3rem 0;
}

.range__slider {
  width: 45%;
}

.range__value {
  width: 35%;
  margin-left: 45px;    
  text-align: center;
  border-left: #e6e4e4 1px solid;
}

.form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.form-group label {
  text-transform: uppercase;
  font-size: .7rem;
  color: #222;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.range__slider label {
  margin-bottom: 10px;
}

.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  // background: #7a00ff;
  background: #a1a1a1;
  border: $rangeCol 5px solid;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
  background: darken($rangeCol, 10%);
}

.range__slider [type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: darken($rangeCol, 10%);
  border: $rangeCol 5px solid; cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: $rangeCol;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}